body {
    --card-width: 350px;
    --text-color: #808080;
    --color-accent: #379CE9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

.flexContainer {
    width: 100%;
    background-color:powderblue;

    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.cardContainer {
    width: var(--card-width);
    background-color: #f0eeee;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.cardTop {
    height: 250px;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.userPhoto {
    width: calc(var(--card-width) * 0.35);
    height: calc(var(--card-width) * 0.35);
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}

.userPhoto > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.userMarker {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    margin-top: -35px;
}
.userOccupation,
.userNameAge,
.userSalary,
.userLocation > p,
.CvLink,
.offerLink {
    font-weight: bold;
}

.userSalary {
    font-size: 0.85em;
    color: var(--text-color);
}

.mainInfo {
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.userNameAge {
    font-size: 0.85em;
    margin-top: 10px;
    
}
.userLocation {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userLocation > p {
    font-size: 0.7em;
    color: var(--text-color);
}

.userInfo {
    color: var(--text-color);
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

a {
    display: inline-block;
    height: 40px;
    width: calc(var(--card-width) * 0.7);
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}

.CvLink {
    margin-bottom: 5px;
    background-color: white;
}

.offerLink {
    color: white;
    background-color: var(--color-accent);
}

.linkContainer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.userStatus {
    
    height: 35px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: #2cda2c;
    border-radius: 50%;
    margin-right: 5px;
}

.userStatus > p {
    color: #a8a8a8;
    font-size: 0.65em;
}

.cardBottom {
    width: 100%;
    background-color: #f0eeee;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}